html, body {
  height: 100%;
  background-color: #000;
  color: #e3e3e3;
}

#header {
    position: absolute;
    width: 90%;
    top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

#title {
}

#clock {
    color: #aaa;
}

#timer {
    float: right;
}

#player {
    visibility: hidden;
}



.blindTimer {
}

.progress {
    height: 0.5rem;
    background-color: #444;
    border-radius: 0;
}

.progress-bar {
    background-color: #e3e3e3;
}

.vertical-center {
    min-height: 100%;  /* Fallback for vh unit */
    min-height: 100vh; /* You might also want to use
                        'height' property instead.

                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.

                        In this case the parent of '.vertical-center'
                        is the <body> element */

    /* Make it a flex container */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
}

.col-sm {
    padding-top: 1.25rem;
    text-align: center;
}

#details {
    min-height: 10rem;
}

.red {
    color: #f00;
}
