html, body {
  height: 100%;
  overflow: hidden;
}

body.state-ready #timer,
body.state-paused #timer,
body.state-stopped #timer {
    display: none;
}

body.state-ready #state,
body.state-paused #state,
body.state-playing #timer {
    display: block;
}

.bg-dark {
    background-color: #000!important;
}

#player {
    visibility: hidden;
}

header {
    position: absolute;
    width: 100%;
    top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
}

header .border-bottom {
    border-bottom: 0.25rem solid #6c757d !important;
}
header h1 {
    margin: 0;
}

#clock {

}

#timer {
}

footer {
    position: absolute;
    width: 100%;
    bottom: 5%;
}


.blindLevels {
    text-align: right;
}
#blind-levels-top {
    display: none;
}
#blind-timer-bottom {
    display: none;
}

.progress {
    height: 0.5rem;
    border-radius: 0;
}

.vertical-center {
    min-height: 100%;  /* Fallback for vh unit */
    min-height: 100vh; /* You might also want to use
                        'height' property instead.

                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.

                        In this case the parent of '.vertical-center'
                        is the <body> element */

    /* Make it a flex container */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
}

.col-sm {
    padding-top: 1.25rem;
    text-align: center;
}

#details {
    min-height: 10rem;
}

.red {
    color: #f00;
}
