html, body {
  height: 100%;
  overflow: hidden;
}

*[class^="game-state-"] *[class^="state-aware-"],
*[class^="game-state-"] *[class*=" state-aware-"],
*[class*=" game-state-"] *[class^="state-aware-"],
*[class*=" game-state-"] *[class*=" state-aware-"] {
    display: none;
}

.game-state-ready .state-aware-ready,
.game-state-playing .state-aware-playing,
.game-state-paused .state-aware-paused,
.game-state-stopped .state-aware-stopped {
    display: block;
}

.theme-dark {
    color: #ddd!important;
    background-color: #000!important;
}
.theme-dark .text-secondary {
    color: #666!important;
}
.theme-dark .text-alert {
    color: #f33!important;
}
.theme-dark .bg-primary {
    background-color: #ddd!important;
}
.theme-dark .bg-secondary {
    background-color: #333!important;
}
.theme-dark .bg-alert {
    background-color: #f33!important;
}

.theme-light {
    color: #000!important;
    background-color: #ccc!important;
}
.theme-light .text-secondary {
    color: #777!important;
}
.theme-light .text-alert {
    color: #d00!important;
}
.theme-light .bg-primary {
    background-color: #000!important;
}
.theme-light .bg-secondary {
    background-color: #aaa!important;
}
.theme-light .bg-alert {
    background-color: #d00!important;
}

#page {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5% 10%;
    z-index: 1000;
}

main {
    padding: 0 15% 0 15%;
}

#blind-progress {
    height: 0.5em;
    width: 25%;
}

#blind-timer small {
    font-size: 0.6em;
}

footer .oi {
    font-size: 0.75em;
}
