html, body {
  height: 100%;
  overflow: hidden;
}

*[class^="game-state-"] *[class^="state-aware-"],
*[class^="game-state-"] *[class*=" state-aware-"],
*[class*=" game-state-"] *[class^="state-aware-"],
*[class*=" game-state-"] *[class*=" state-aware-"] {
    display: none;
}

.game-state-ready .state-aware-ready,
.game-state-playing .state-aware-playing,
.game-state-paused .state-aware-paused,
.game-state-stopped .state-aware-stopped {
    display: block;
}

.theme-dark {
    color: #fff!important;
}
.theme-dark .text-secondary {
    color: rgba(255, 255, 255, 0.5)!important;
}
.theme-dark .text-alert {
    color: #faa;
}
.theme-dark .bg-primary {
    background-color: #fff!important;
}
.theme-dark .bg-secondary {
    background-color: rgba(255, 255, 255, 0.3)!important;
}
.theme-dark .bg-alert {
    background-color: #faa!important;
}

.theme-light {
    color: #000!important;
}
.theme-light .text-secondary {
    color: rgba(0, 0, 0, 0.5)!important;
}
.theme-light .text-alert {
    color: #d00;
}
.theme-light .bg-primary {
    background-color: #000!important;
}
.theme-light .bg-secondary {
    background-color: rgba(0, 0, 0, 0.3)!important;
}
.theme-light .bg-alert {
    background-color: #d00!important;
}

#page {
    height: 100%;
    padding: 5% 10%;
}

main {
    padding: 0 15% 0 15%;
}

#blind-test-progress {
    height: 0.5em;
    width: 25%;
}

.progress {
    height: 0.5rem;
    border-radius: 0;
}

footer .oi {
    font-size: 0.75em;
}
