html, body {
  height: 100%;
  overflow: hidden;
  background-color: #000;
}

.flex-grow {
    flex: 1 0 auto;
}

*[class^="game-state-"] *[class^="state-aware-"],
*[class^="game-state-"] *[class*=" state-aware-"],
*[class*=" game-state-"] *[class^="state-aware-"],
*[class*=" game-state-"] *[class*=" state-aware-"] {
    display: none!important;
}

.game-state-ready .state-aware-ready,
.game-state-playing .state-aware-playing,
.game-state-paused .state-aware-paused,
.game-state-stopped .state-aware-stopped,
.game-state-ready .state-aware-ready-block,
.game-state-playing .state-aware-playing-block,
.game-state-paused .state-aware-paused-block,
.game-state-stopped .state-aware-stopped-block {
    display: block!important;
}

.game-state-ready .state-aware-ready-inline,
.game-state-playing .state-aware-playing-inline,
.game-state-paused .state-aware-paused-inline,
.game-state-stopped .state-aware-stopped-inline {
    display: inline!important;
}

.game-state-ready .state-aware-ready-flex,
.game-state-playing .state-aware-playing-flex,
.game-state-paused .state-aware-paused-flex,
.game-state-stopped .state-aware-stopped-flex {
    display: flex!important;
}

.theme-dark {
    color: #ddd!important;
    background-color: #000!important;
}
.theme-dark .text-secondary {
    color: #666!important;
}
.theme-dark .text-alert {
    color: #f33!important;
}
.theme-dark .bg-primary {
    background-color: #ddd!important;
}
.theme-dark .bg-secondary {
    background-color: #222!important;
}
.theme-dark .bg-alert {
    background-color: #f33!important;
}
.theme-dark svg path {
    fill: #666;
}

.theme-light {
    color: #000!important;
    background-color: #ccc!important;
}
.theme-light .text-secondary {
    color: #777!important;
}
.theme-light .text-alert {
    color: #d00!important;
}
.theme-light .bg-primary {
    background-color: #000!important;
}
.theme-light .bg-secondary {
    background-color: #aaa!important;
}
.theme-light .bg-alert {
    background-color: #d00!important;
}
.theme-light svg path {
    fill: #777;
}

#page {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5% 10%;
    z-index: 1000;
}

#canvas {
    z-index: 500;
}
